<h1>Welcome</h1>

<p>This is the home page</p>

<p>With live reload</p>

<ol>
  <li><a href="https://github.com/guard/guard">Guard</a></li>
  <li><a href="https://github.com/guard/guard-livereload">Guard LiveReload</a></li>
  <li><a href="https://github.com/johnbintz/rack-livereload">Rack LiveReload</a></li>
</ol>
